pie {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    background-color: green;
    border: solid 1px;

}

.ten{
    background-image:
    linear-gradient(126deg, transparent 50%, white 50%),
    linear-gradient(90deg, white 50%, transparent 50%);
}
}